<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<body>
<ui:composition template="/template/blue_travel.xhtml">
	<ui:define name="pageTitle">#{local.buyTrip}</ui:define>
	<ui:define name="primaryContent">
		<h:outputLabel value="Hello, start"/>

		<h:form>
			<h:commandButton value="Place order" action="order" />
		</h:form>


		DOPLNIT

	</ui:define>
</ui:composition>
</body>
</html>