<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ucl="http://www.unicorcollege.cz/JEE/Library">
<f:view>
    <ui:composition template="/template/blue_travel.xhtml">
        <ui:define name="pageTitle">Trip selection</ui:define>
        <ui:define name="primaryContent">
            <h:form>
                <h:panelGrid columns="3" rowClasses="">
                    <h:selectOneListbox id="trip" value="#{purchaseController.selectedTripId}"
                                        onchange="submit()"
                                        valueChangeListener="#{purchaseController.tripChanged}">
                        <f:selectItems value="#{purchaseController.allTrips}"/>
                        <f:ajax event="click" execute="@this" render="tripDetails"/>
                    </h:selectOneListbox>

                    <h:panelGroup id="tripDetails"
                                  rendered="#{purchaseController.selectedTripId ne -1}">
                        <ucl:trip value="#{purchaseController.selectedHoliday}"/>
                    </h:panelGroup>
                    <h:commandButton value="Proceed" action="order-client_details"
                                     rendered="#{purchaseController.selectedTripId ne -1}"/>
                </h:panelGrid>

            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
