<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="/template/blue_travel.xhtml">
        <ui:define name="pageTitle">Customer details</ui:define>
        <ui:define name="primaryContent">
            <h:form>
                <h:outputLabel for="firstName" value="First name: "/>
                <h:inputText id="firstName" value="#{purchaseController.currentCustomerFirstName}" required="true" requiredMessage="Missing name."/>
                <h:message for="firstName"/>
                <br/>
                <h:outputLabel for="surname" value="Surname: "/>
                <h:inputText id="surname" value="#{purchaseController.currentCustomerSurname}" required="true" requiredMessage="Missing surname."/>
                <h:message for="surname"/>
                <br/>
                <h:panelGroup layout="block">
                <h:outputLabel for="ccNumber" value="Credit card: "/>
                    <h:inputText id="ccNumber" value="#{purchaseController.ccNumber}"/>
                <h:message for="ccNumber"/>
                </h:panelGroup>
                <br/>
                <h:outputLabel for="ccValidThru" value="Valid untill: "/>
                <h:inputText id="ccValidThru" value="#{purchaseController.ccValidity}"/>
                <h:message for="ccValidThru"/>
                <br/>

                <h:commandButton value="Proceed" action="order-travellers"/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
