<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
<f:view>

<ui:composition template="/template/blue_travel.xhtml">
        <ui:define name="pageTitle">Add Travellers</ui:define>
        <ui:define name="primaryContent">
            <h:form>
                <h:messages/>
                <h:panelGrid columns="2">
                    <h:panelGroup layout="block">
                        <h:outputLabel for="idNumber" value="ID: "/>
                        <h:inputText id="idNumber" value="#{purchaseController.travellerIdNumber}">
                            <a4j:ajax event="blur" render="firstName surname" execute="@this"/>
                        </h:inputText>
                        <br/>
                        <h:outputLabel for="firstName" value="First name: "/>
                        <h:inputText id="firstName" value="#{purchaseController.travellerFirstName}"/>
                        <br/>
                        <h:outputLabel for="surname" value="Surname: "/>
                        <h:inputText id="surname" value="#{purchaseController.travellerSurname}"/>
                    </h:panelGroup>


                    <rich:dataTable id="travellers" var="traveller"
                                    value="#{purchaseController.travellers}">
                        <rich:column>
                            <f:facet name="header">#{local.firstName}</f:facet>
                            #{traveller.firstName}
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">#{local.surname}</f:facet>
                            #{traveller.surname}
                        </rich:column>
                        <rich:column>
                            <f:facet name="header">Id</f:facet>
                            #{traveller.idNumber}
                        </rich:column>
                        <rich:column>
                            <h:commandLink value="#{local.remove}" action="#{purchaseController.removeTraveller(traveller)}"/>
                        </rich:column>
                    </rich:dataTable>
                </h:panelGrid>


                <br/>
                <h:commandButton value="Add" action="#{purchaseController.addTraveller}"/>
                <h:commandButton value="Proceed" action="order-confirm"/>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
